.main{
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.header {
  background: url("./assets/images/Aesop-Homepage-Banner.jpg");
  background-size: cover;
  height: 500px;
  z-index: -1;
}

.covid {
  background:#a6672b;
  font-size: large;
  text-align: center;
  height: 30px;
  padding-top: 6px;
}

.freeShip{
  background: #252525;
  font-size: medium;
  color: white;
  text-align: center;
  height: 30px;
  padding-top: 6px;
}

.logoCircle{
  width: 300px;
  height: 300px;
  border-radius: 150px;
  background-color: hsl(44, 98%, 50%); 
  font-size: xx-large; 
  z-index: 800;
}
.logo{
  position: relative;
  top: 0;
}

.nav {
  display: flex;
  justify-content: flex-start;
  background: #fcba03;
  list-style: none;
}

li{
  padding: 10px;
}

.first{
  background: #fcba03;
  height: 300px;
}

.second{
  background: url("./assets/images/Aesop-Free-Market-Carousel-1-Desktop-2560x1440px.png");
  height: 300px;
}