.header {
  background: url("./assets/images/Aesop-Homepage-Banner.jpg");
  background-size: cover;
  height: 500px;
  z-index: -1;
}

.covid {
  background: brown;
}

.freeShip{
  background: darkred;
}

.nav {
  display: inline;
}
