.header {
  background: url("./assets/images/Aesop-Homepage-Banner.jpg");
  background-size: cover;
  height: 500px;
  z-index: -1;
}


.covid {
  background: brown;
  font-size: large;
  text-align: center;
}

.freeShip{
  background: darkred;
  font-size: medium;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-evenly;
  background: #fcba03;
  list-style: none;

}
.first{
  background: #fcba03;
  height: 300px;
}
